<canvas></canvas>
{{#if this.legend}}
  {{#each this.data.datasets as |dataset|}}
    <p class="chart-legend">
      <span
        class= "chart-legend-key"
        style= "background-color:{{dataset.backgroundColor}};
                border:solid 1px {{dataset.borderColor}}">
      </span>
      {{dataset.label}}
    </p>
  {{/each}}
{{/if}}
