@keyframes slide-up{
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes fade-in{
  from {
    transform: opacity(0);
  }
  to {
    transform: opacity(1);
  }
}
