@import "colors.css";
@import "animations.css";
@import "draw.css";
@import "node.css";
@import "timeline.css";
@import "inputs.css";
@import "node-based-editor.css";
@import "lemonade-chart.css";
@import "node-editor-time-input.css";
@import "timeline-object-context-menu.css";
@import "plan.css";
@import "main-nav.css";
@import "modal.css";
@import "haircut.css";
@import "show-hide.css";
@import "error-timeline.css";
@import "review.css";

body {
  font-family: "sofia-pro", sans-serif;
  font-feature-settings: "liga" off;
  -webkit-font-smoothing: antialiased;
  background-color: var(--app-background-color);
  margin: 0;
  margin-top: 40px;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[data-ember-action] {
  cursor: pointer;
}

.side-by-side {
  display: inline-flex;
  align-content: stretch;
  width: 100%;
}

.side-by-side > * {
  flex: 1 auto;
  margin-left: 20px;
  width: 50%;
}

.side-by-side > *:first-child {
  margin-left:0;
}

.ruled-sub-header {
  display: block;
  color: white;
  font-size: 9.5pt;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  line-height: 10px;
  border-bottom: solid 1px var(--resource-color);
  width: 100%;
  padding-bottom: 6px;
}

.overflow-catcher{
  width: 100%;
  overflow-x: auto;
}

.no-animate {
  animation: none;
}

.popper {
  animation: fade-in 400ms;
  position: absolute;
  background: var(--resource-color);
  color: white;
  min-width: 150px;
  max-width: 300px;
  border-radius: 3px;
  padding: 10px;
  text-align: left;
  font-size: 10pt;
  z-index: 400;
}

.popper hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.popper p {
  margin-top: 0;
}

.popper p:last-of-type {
  margin-bottom: 0;
}

.popper h4{
  margin-top: 0;
  margin-bottom: 0.2em;
}

.popper .popper__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.popper[x-placement^="top"] {
    margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow {
    border-width: 5px 5px 0 5px;
    border-color: var(--resource-color) transparent transparent transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.popper[x-placement^="bottom"] {
    margin-top: 5px;
}
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent var(--resource-color) transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.popper[x-placement^="right"] {
    margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow {
    border-width: 5px 5px 5px 0;
    border-color: transparent var(--resource-color) transparent transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.popper[x-placement^="left"] {
    margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow {
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent var(--resource-color);
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
