@import "colors.css";
@import "draw.css";
@import "node.css";
@import "timeline.css";
@import "inputs.css";
@import "node-based-editor.css";
@import "lemonade-chart.css";
@import "node-editor-time-input.css";
@import "plan.css";
@import "main-nav.css";

body {
  font-family: "sofia-pro", sans-serif;
  font-feature-settings: "liga" off;
  -webkit-font-smoothing: antialiased;
  background-color: var(--app-background-color);
  margin: 0;
  margin-top: 40px;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[data-ember-action]{
  cursor: pointer;
}

.modal {
  color: white;
  position: relative;;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  height: 450px;
  background-color: rgb(28, 92, 167);
  border-radius: 2px;
}

.modal .timeline-year-container {
  width: 85%;
}
.modal .timeline-grid-container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 90px;
}

.modal .timeline-grid-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.modal .timeline-grid-shade{
  background-color: black;
  opacity: 0.15;
}

.modal footer{
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 25px;
  width: 85%;
  margin-left: 7.5%;
}

.modal footer.one-item{
  justify-content: flex-end;
}

.step-indicator{
  width: 100%;
  text-align: center;
  font-size: 9.5pt;
}
