:root {
  --default-node-color: rgb(169, 169, 169);
  --capability-color: rgb(3, 222, 173);
  --budget-color: rgb(126, 211, 33);
  --fixed_asset-color: rgb(144, 19, 254);
  --output-color: rgb(245, 166, 35);
  --resource-color: rgb(74, 144, 226);
  --app-background-color: rgb(43, 35, 50);
}
