.entity-node {
  /*border: solid 1px rgb(102, 129, 159);*/
  width: 160px;
  height: 100px;
  text-align: center;
  /*margin-left: 200;*/
  /*margin-right: auto;*/
}

.entity-node input {
  width: 93px;
}