.error-timeline-container{
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
}

.error-dot{
  transition: transform 200ms,background-color 200ms;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: white;
  margin: auto;
}

.error-dot.contains-errors{
  background-color: red;
  transform: scale(2)
}
