input:focus, button:focus, textarea { outline: none; }

@define-mixin sliderTrack{
  border-radius: 3px;
  background: rgba(52, 132, 226, 0.7);
  border: none;
  height: 5px;
  margin: 0;
}

@define-mixin sliderThumb{
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(74, 144, 226);
}

input[type=range]{
  -webkit-appearance: none;
  background-color: transparent;
  margin-top: 42px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

input[type=range]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  @mixin sliderTrack;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -6px;
  @mixin sliderThumb;
}

input[type=range]::-moz-range-track {
  @mixin sliderTrack;
}

input[type=range]::-moz-range-thumb {
  @mixin sliderThumb;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}
.range-slider-container{
  position: relative;
}
.range-value {
  background: rgb(74, 144, 226);
  border-radius: 3px;
  color: white;
  font-weight: 500;
  margin: 0;
  min-width: 45px;
  padding: 3px 8px;
  position: absolute;
  user-select: none;
  text-align: center;
  opacity: 1;
}

.range-value::after {
  content: "▾";
  font-size: 20px;
  color: rgb(74, 144, 226);
  position: absolute;
  bottom: -13px;
  width: 13px;
  left: calc(50% - 6.5px);
}

.toggle-switch {
  width: 140px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  cursor: pointer;
}

.toggle-switch-indicator {
  transition: transform 300ms;
  transition-timing-function: ease-out;
  background-color: rgb(74, 144, 226);
  width: 50%;
  border-radius: inherit;
  height: 100%;
  vertical-align: middle;
  padding-top: 7px;
}

.toggle-switch-label {
  font-size: 10pt;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  user-select: none;
  line-height: 12px;
}

.toggle-switch-indicator.switch-on{
  transform: translateX(100%);
}

.toggle-switch-indicator.switch-off{
  transform: translateX(0);
}

input[type='text'] {
  border: solid 1px var(--resource-color);
  text-align: left;
  font-family: "sofia-pro", sans-serif;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  height: 30px;
  width: 100%;
  border-radius: 2pt;
  font-size: 14px;
  padding-left: 0.6em;
}

textarea {
  border: solid 1px var(--resource-color);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 2pt;
  width: 100%;
  height: 55px;
  font-size: 14px;
  color: white;
  resize: none;
}

label{
  display: block;
  color: white;
  font-size: 9.5pt;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  line-height: 10px;
}

button{
  transition: transform 150ms, box-shadow 150ms;
  background-color: var(--resource-color);
  border: none;
  color: white;
  border-radius:2px;
  height: 30px;
  font-weight: 700;
  font-size: 10pt;
  min-width: 100px;
  text-transform: capitalize;
  box-shadow: 0px 0px 0px color(var(--resource-color) shade(40%))
}

button:hover,button:focus{
  transform: translateY(-2px);
  box-shadow: 0px 2px 0px color(var(--resource-color) shade(40%))
}

button:active{
  transform: translateY(2px);
  box-shadow: 0px -2px 0px  0px color(var(--resource-color) shade(40%))
}
