.modal {
  $modal-width: 650px;
  $modal-height: 500px;
  color: white;
  position: fixed;
  z-index: 101;
  width: $modal-width;
  height: $modal-height;
  top:0;
  transform: translate( calc( 50vw - ( $modal-width / 2 ) ), calc( 50vh - ( $modal-height / 1.9 ) ) );
  background-color: rgb(28, 92, 167);
  border: solid 1px var(--resource-color);
  border-radius: 2px;
  overflow: hidden;
}

.modal footer{
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 25px;
  width: 85%;
  margin-left: 7.5%;
}

.modal footer.one-item{
  justify-content: flex-end;
}

.modal-header{
  text-align: center;
  font-size: 12.5pt;
  margin-bottom: 0;
}

.modal-shade{
  content:"";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
}

.step-indicator{
  width: 100%;
  text-align: center;
  font-size: 9.5pt;
  margin-top: 0.4em;
}

.modal-extra-slider{
  $height: 62%;
  animation: slide-up 250ms;
  position: absolute;
  width: 100%;
  height: $height;
  bottom: calc($height * -1);
  transform: translateY(-100%);
  border-top: solid 1px color(var(--resource-color) alpha(-30%));
  background-color: rgb(28, 92, 167);
  z-index: 10;
}

.modal-extra-slider::before{
  $height: 20px;
  height: $height;
  content: "";
  display: block;
  position: absolute;
  top: calc(($height * -1));
  z-index: -100;
  width: 100%;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 30%, rgba(0,0,0,0.14) 100%);
}

.modal-extra-slider.half-size {
  $height: 46%;
  height: $height;
  bottom: calc($height * -1);
}

.modal-extra-slider-header{
  text-align: center;
  font-size: 10.5pt;
  margin-bottom: 0.8em;
  text-transform: capitalize;
}

.modal-extra-slider-content{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.modal-extra-slider-content.single-item{
  width: 45%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

/*new project specific classes and workaround*/

.info-form-container{
  width: 85%;
  margin: auto;
}
.modal .timeline-track {
  top: -60px;
  height: 60px;
  /* background-color: green; */
}
.modal .track-name{
  display: none;
}

.modal .timeline-object{
  background-color: var(--resource-color);
  top: 10px;
}

.modal .timeline-year-container {
  width: 85%;
}
.modal .timeline-grid-container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 77px;
}

.modal .timeline-grid-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.modal .timeline-grid-shade{
  background-color: black;
  opacity: 0.15;
}

.modal .toggle-switch {
  width: 100%;
}

.modal-extra-slider-content.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 110px;
}

.process-property-input{
  max-width: 200px;
  min-width: 175px;
}

.modal-extra-slider-content > .process-property-input:exactly(1){
  width: 45%;
  max-width: 45%;
  margin: auto;
}

.modal-extra-slider-content > .process-property-input:exactly(2),
.modal-extra-slider-content > .process-property-input:exactly(4){
  width: 50%;
  max-width: 50%;
  margin: auto;
}

.modal-extra-slider.half-size .step-indicator{
  margin-top: 0;
  margin-bottom: 0.25em;
}

.modal-extra-slider.half-size .modal-extra-slider-header{
  margin-bottom: 0.25em;
}

.new-phase-trigger {
  $width: 105px;
  width: $width;
  margin-top: 20px;
  margin-left: calc(50% - ($width / 2));
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.new-phase-trigger p {
  font-size: 11pt;
  font-weight: 700;
}

.new-phase-trigger img {
  transition: transform 180ms;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
.new-phase-trigger:hover img {
  transform: scale(1.05);
}
.new-phase-options{
  display: flex;
}

.phase-basic-info{
  width: calc( 50% - 20px);
  margin-right: 20px;
}

.phase-senario-options{
  width: calc( 50% - 20px);
  margin-left: 20px;
}

.phase-basic-info::after {
  content: "";
  display: block;
  height: 65%;
  width: 1px;
  background-color: rgb(74, 144, 226);
  position: absolute;
  left: 50%;
  top: 13%;
}

.new-impact-resource{
  position: relative;
  color: white;
  font-size: 9.5pt;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  line-height: 10px;
  width: 100%;
}

.new-impact-resource img{
  position: relative;
  top:3px;
  width: 14px;
  height: auto;
  margin-right: 4px;
}
