.node-based-editor {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -40px;
}

.nodes-container {
  position: absolute;
  top: 0;
  left: 0;
}

#svg-container {
  /* these margins need to be accounted for in draggable.js and cable.js | they are refered to as `cssOffset` */
  margin-top: -2000px;
  margin-left: -2000px;
  width:  4000%;
  height: 4000%;
  cursor: move;
}

#reset-defaults-button {
  position: fixed;
  top: 41px;
  right: 15px;
  z-index: 100;
  background-color: color(var(--app-background-color) alpha(-30%));
  border: solid 2px rgb(117, 22, 22);
  border-radius: 20px;
  font-size: 8.5pt;
  color: rgb(210, 16, 35);
  padding: 4px 12px 5px;
  font-weight: 600;
  user-select:none;
}

#reset-defaults-button:hover {
  border: solid 2px rgb(157, 22, 22);
  background-color: rgba(117, 22, 22,0.3);
  color: rgb(250, 16, 35);
}
