.node-based-editor {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -40px;
}

.nodes-container {
  position: absolute;
  top: 0;
  left: 0;
}

#svg-container {
  /* these margins need to be accounted for in draggable.js and cable.js | they are refered to as `cssOffset` */
  margin-top: -2000px;
  margin-left: -2000px;
  width: 500%;
  height: 500%;
  cursor: move;
}
