.node.entity-capability {
  background-color: color( var(--capability-color) alpha(-10%) shade(20%) saturation(+5%) );
  border: solid 1px color( var(--capability-color) whiteness(+15%) alpha(-50%) );
}
.node.entity-capability .node-drag-bar {
  background-color: var(--capability-color);
}
.node.entity-capability .node-subheading {
  background-color:  color( var(--capability-color) alpha(-50%) );
}
.node.entity-capability input[type='text'] {
  border: solid 1px var(--capability-color);
}

.node.entity-budget {
  background-color: color( var(--budget-color) alpha(-10%) shade(20%) saturation(+5%) );
  border: solid 1px color( var(--budget-color) whiteness(+15%) alpha(-50%) );
}
.node.entity-budget .node-drag-bar {
  background-color: var(--budget-color);
}
.node.entity-budget .node-subheading {
  background-color:  color( var(--budget-color) alpha(-50%) );
}
.node.entity-budget input[type='text'] {
  border: solid 1px var(--budget-color);
}

.node.entity-fixed_asset {
  background-color: color( var(--fixed_asset-color) alpha(-10%) shade(20%) saturation(+5%) );
  border: solid 1px color( var(--fixed_asset-color) whiteness(+15%) alpha(-50%) );
}
.node.entity-fixed_asset .node-drag-bar {
  background-color: var(--fixed_asset-color);
}
.node.entity-fixed_asset .node-subheading {
  background-color:  color( var(--fixed_asset-color) alpha(-50%) );
}
.node.entity-fixed_asset input[type='text'] {
  border: solid 1px var(--fixed_asset-color);
}

.node.output-node {
  background-color: color( var(--output-color) alpha(-10%) shade(20%) saturation(+5%) );
  border: solid 1px color( var(--output-color) whiteness(+15%) alpha(-50%) );
}
.node.output-node .node-drag-bar {
  background-color: var(--output-color);
}
.node.output-node .node-subheading {
  background-color:  color( var(--output-color) alpha(-50%) );
}
.node.output-node input[type='text'] {
  border: solid 1px var(--output-color);
}

.node {
  width: 180px;
  height: auto;
  color: white;
  background-color: color( var(--default-node-color) alpha(-10%) shade(20%) saturation(+5%) );
  border-radius: 2pt;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
  border: solid 1px color( var(--default-node-color) whiteness(+15%) alpha(-50%) );
  position: absolute;
}

.node .node-drag-bar {
  text-align: center;
  background-color: var(--default-node-color);
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 2pt 2pt 0 0;
  cursor: move;
  cursor: -webkit-grab;
  margin-left: -20px;
  margin-right: -20px;
}

.node-drag-bar p {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.01em;
  margin: 0;
  text-transform: capitalize;
}

.node-subheading {
  text-align: center;
  background-color:  color( var(--default-node-color) alpha(-50%) );
  font-size: 11px;
  line-height: 30px;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: -20px;
  margin-right: -20px;
}

.node .node-subheading:first-of-type {
  margin-top: 0;
}

.node .node-input-output {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}

.node .node-label {
  font-size: 10px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 0;
  line-height: 10px;
}

.node input[type='text'] {
  border: solid 1px var(--default-node-color);
  text-align: center;
  font-family: "sofia-pro", sans-serif;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  height: 25px;
  width: 100%;
  margin-top: 5px;
  border-radius: 2pt;
  font-size: 14px;
}

.node .fte {
  font-size: 0.6em;
}

.node .node-output {
  text-align: right;
}

.node-output-container{
  margin-right: -27px;
  text-align: right;
  margin-bottom: 10px;
}

.node .terminal {
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  cursor: hand;
}
.node .input-terminal {
  margin-left: -28px;
  margin-right: 10px;
}
