.plan-footer-graph{
  width: 80%;
  position: fixed;
  bottom: 0;
  left: 10%;
  height: 230px;
  z-index: 300
}
.plan-footer-graph .chart-container{
  height: 230px;
}

.new-project-button {
  color: white;
}
