.timeline-grid-container {
  display: flex;
  width: 80vw;
  color: white;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left:10vw;
  margin-right: auto;
}

.timeline-grid:first-of-type {
  margin-left: 0;
}

.timeline-grid:last-of-type {
  margin-right: 0;
}

.timeline-grid {
  overflow: hidden;
  flex: 1 1 auto;
  height: auto;
  width: 50px;
  min-width: 10px;
  margin-left: 5px;
  margin-right: 5px;
  user-select: none;
  align-items: center;
}

.timeline-grid-shade {
  height: 100vh;
  width: 100%;
  background-color: white;
  opacity: 0.1;
}

.timeline-grid-title{
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  margin-top: 0.8em;
  margin-bottom: 0.8em;

}

.timeline-year-container {
  display: flex;
  width: 80vw;
  color: white;
  flex-wrap: nowrap;
  margin-left: 10vw;
  user-select: none;
}

.timeline-year:first-of-type {
  margin-left: 0;
}

.timeline-year {
  border-bottom: solid 3px white;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 5px;
  flex-grow: 1;
  margin-left: 10px;
}

.timeline-track {
    width: 100%;
    position: relative;
    height: 55px;
}

.timeline-track .track-name {
    color: white;
    margin-top: 5px;
    margin-left: 10vw;
    width: 80vw;
    font-size: 10pt;
    text-transform: capitalize;
    border-bottom: solid 1px rgba(255,255,255,0.5);
    /* background-color: rgba(255,255,255,0.1); */
    padding-bottom: 3px;
    padding-left: 7px;
    font-weight: 600;
}


.timeline-track-container{
  position: absolute;
  top: 136px;
  z-index: 10;
}

.timeline-object {
  background-color: var(--budget-color);
  border-radius: 2px;
  color: white;
  cursor: move;
  cursor: -webkit-grab;
  min-height: 25px;
  position: absolute;
  top: 30px;
  user-select: none;
  padding-left: 6px;
}

.timeline-object.active {
  cursor: -webkit-grabbing;
}

.timeline-object:after {
  content: "";
  width: 20px;
  right: 0;
  top:0;
  position: absolute;
  height: 100%;
  cursor: ew-resize;
}

.timeline-object:before {
  content: "";
  cursor: ew-resize;
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 20px;
}

.object-name {
  font-size: 10pt;
  font-weight: 600;
  margin-top: 0.1em;
  margin-bottom: 0px;
  text-transform: capitalize;
  pointer-events: none;
}

.object-info {
  font-size: 9.5pt;
  margin-top: 0;
  margin-bottom: 0;
}
