<div class="modal-extra-slider half-size">
  <h1 class="modal-extra-slider-header">Add Resources - Choose Service</h1>
  <p class='step-indicator'>step 1 of 4</p>
  <section class="modal-extra-slider-content single-item">
    <label for="">Choose Service</label>
    {{#x-select value=this.selectedServiceModel}}
      {{#each this.serviceModels as |serviceModel|}}
        {{#x-option value=serviceModel}}{{serviceModel.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </section>
  <footer>
    <button {{action "removeThisLayer"}}>cancel</button>
    <button {{action "next"}}>Next</button>
  </footer>
</div>
