<div class="modal-extra-slider half-size">
  <h1 class="modal-extra-slider-header">
    {{#if this.resourceLayerShowing}}
      Add Resources - Choose Service
    {{else}}
      Add Impacts - Choose Service
    {{/if}}
  </h1>
  <section class="modal-extra-slider-content">
    <label for="">Choose Service</label>
    {{#x-select value=this.selectedServiceModel}}
      {{#each this.serviceModels as |serviceModel|}}
        {{#x-option value=serviceModel}}{{serviceModel.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </section>
  <footer>
    <button {{action "removeThisLayer"}}>cancel</button>
    <button {{action "next"}}>Next</button>
  </footer>
</div>
