<p class='track-name'>{{this.model.name}}</p>
{{#each this.timelineObjects as |timelineObject|}}
  {{timeline-object
    name=timelineObject.name
    start=timelineObject.start
    end=timelineObject.end
    timelineGridObjects=this.timelineGridObjects
    onInteractionEnd=this.onInteractionEnd
  }}
{{/each}}
