<p class='track-name'>{{this.project.name}}</p>
{{#each this.project.phases as |phase|}}
  {{
    timeline-object
    name=phase.name
    id=phase.id
    scenarioId=phase.scenario
    capex=phase.investment_cost
    opex=phase.service_cost
    cost=phase.cost
    start=phase.start_date
    end=phase.end_date
    timelineGridObjects=this.timelineGridObjects
    onInteractionEnd=this.onInteractionEnd

    onContextMenu=(action 'onContextMenu')
    onNoDragClick=(action 'onNoDragClick')
  }}
{{/each}}
