<p {{action "newProject"}} class='new-project-button'><img src="/images/icons/new-phase-icon.svg" alt="" />New Project</p>
{{#if this.showNewProjectWiz}}
  <div class="modal-shade" {{action "hideNewProjectWizard"}}></div>
  {{
    new-project-wizard
    simulation=this.simulation
    projects=this.projects
    onFormSubmit="onFormSubmit"
    hideNewProject='hideNewProjectWizard'
  }}
{{/if}}


{{
  investment-timeline
  simulation=this.simulation

  projects=this.projects
  scenarios=this.scenarios
}}
  {{!-- simulationRun=this.simulationRun --}}
