<p {{action "newProject"}} class='new-project-button'>New Project</p>
{{#if this.showNewProjectWiz}}
  <div class="modal-shade" {{action "hideNewProjectWizard"}}></div>
  {{
    new-project-wizard
    simulation=this.simulation
    onFormSubmit="onFormSubmit"
    hideNewProject='hideNewProjectWizard'
  }}
{{/if}}


{{
  investment-timeline
  simulation=this.simulation
  simulationRun=this.simulationRun

  projects=this.projects
}}
