{{log errors}}
{{#each this.timeline as |year|}}
  {{year.label}}
{{/each}}
{{!-- {{#each this.errors as |error|}}
  <p>{{error.year}}</p>
  {{#each error.errors as |errorsMessage|}}
    <p>{{errorsMessage.message}}</p>
  {{/each}}
{{/each}} --}}
