<p {{action "resetDefaults"}} id='reset-defaults-button'>Reset Defaults</p>

<div id='svg-container' style={{this.style}}>
</div>

<div class='nodes-container' style={{this.style}}>
  {{#each this.selectedEntities as | entity index | }}
    {{
      entity-node
      entity=entity

      month=this.month

      inputConnectorData=this.inputConnectorData
      outputConnectorData=this.outputConnectorData
      processPropertyData=this.processPropertyData

      errors=this.errors

      nodes=entityComponents
      updateCables=this.updateCablesBound
      updateBaseline=this.updateBaselineBound
      groupOffsetX=this.transformX
      groupOffsetY=this.transformY

      branch=this.branch
      service=this.service
    }}
  {{/each}}
</div>
