<div id='svg-container' style={{this.style}}>
</div>

<div class='nodes-container' style={{this.style}}>
  {{#each this.model.entities as | entity index | }}
    {{
      entity-node
      entity=entity

      month=this.month

      inputConnectorData=this.inputConnectorData
      outputConnectorData=this.outputConnectorData
      processPropertyData=this.processPropertyData


      nodes=entityComponents
      updateCables=this.updateCablesBound
      groupOffsetX=this.transformX
      groupOffsetY=this.transformY
    }}
  {{/each}}

  {{#each this.model.outputs as | simulationOutput index | }}
    {{
      simulation-output
      simulationOutput=simulationOutput
      outputData=this.outputData

      month=this.month

      outputNodes=outputComponents
      updateCables=this.updateCablesBound
      groupOffsetX=this.transformX
      groupOffsetY=this.transformY
    }}
  {{/each}}
</div>
