<div id='svg-container'>
</div>

<div id='node-based-editor-container'>
  {{#each this.model.entities as | entity index | }}
    {{
      entity-node
      entity=entity
      nodes=entityComponents
      updateCables=this.updateCablesBound
    }}
  {{/each}}

  {{#each this.model.outputs as | simulationOutput index | }}
    {{
      simulation-output
      simulationOutput=simulationOutput
      outputNodes=outputComponents
      updateCables=this.updateCablesBound
    }}
  {{/each}}

</div>