<div id='svg-container'>
</div>

<div class='entities-container'>
  {{#each this.model.entities as | entity index | }}
    {{entity-node entity=entity nodes=entityComponents}}
  {{/each}}

  {{#each this.model.outputs as | simulationOutput index | }}
    {{simulation-output simulationOutput=simulationOutput outputNodes=outputComponents}}
  {{/each}}

</div>