<p>step 2 of 3</p>
{{
  timeline-timescale
  timelineGridObjects=this.timelineGridObjects
  timespan=this.timespan
}}
<button {{action "back"}}>Previous</button><button {{action "next"}}>Next</button>
