<div class='timeline-track-container'>
  {{#each projects as |project|}}
    {{
      timeline-track
      timelineGridObjects=this.timelineGridObjects
      project=project
      onInteractionEnd=(action 'onTimelineObjectInteractionEnd')
      onContextMenu='onContextMenu'

    }}
  {{/each}}
</div>

{{
  timeline-timescale
  timelineGridObjects=this.timelineGridObjects
  timespan=this.hardCodedMetadata
}}

{{
  lemonade-chart
  style=this.chartInlineStyle
  class='plan-footer-graph'
  type='line'
  data=this.investmentGraph.data
  options=this.investmentGraph.options
  legend=false
  chart=this.chart
}}
