<div class='timeline-track-container'>
  {{#each model.projects as |project|}}
    {{
      timeline-track
      timelineGridObjects=this.timelineGridObjects
      model=project
      onInteractionEnd=(action 'recalculateInvestments')
    }}
  {{/each}}
</div>

{{
  timeline-timescale
  timelineGridObjects=this.timelineGridObjects
  timespan=model.metadata
}}

{{
  lemonade-chart
  style=this.chartInlineStyle
  class='plan-footer-graph'
  type='line'
  data=this.investmentGraph.data
  options=this.investmentGraph.options
  legend=false
}}
