{{#if this.showContextMenu}}
  {{timeline-object-context-menu options=contextMenuOptions handleContextMenuAction=(action "handleContextMenuAction")}}
{{/if}}

<p class="object-name">{{name}}</p>
{{!-- {{#if this.capex}}
  <p class='object-info'>Capex ${{this.capex}}</p>
{{/if}}
{{#if this.opex}}
  <p class='object-info'>Opex ${{this.opex}}</p>
{{/if}} --}}
