<img class="merlin-logo" src="/images/merlinLogo.svg" alt="Merlin" />
{{#link-to 'plan' 1}}<p>Plan</p>{{/link-to}}
{{#link-to 'haircut' 1}}<p>Haircut</p>{{/link-to}}
{{#link-to 'services' 1}}<p>Services</p>{{/link-to}}
{{#link-to 'review' 1}}<p>Review</p>{{/link-to}}
{{yield}}
