<div class="modal-extra-slider half-size no-animate">
  <h1 class="modal-extra-slider-header">
    {{#if this.resourceLayerShowing}}
      Add Resources - Choose Resource Type
    {{else}}
      Add Impacts - Choose Type
    {{/if}}
  </h1>
  <p class='step-indicator'>step 2 of 4</p>
  <section class="modal-extra-slider-content single-item">
    <label for="">Choose Resource Type</label>
    {{#x-select value=this.selectedAttribute}}
      {{#each this.attributes as |attribute|}}
        {{#x-option value=attribute}}{{attribute}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </section>
  <footer>
    <button {{action "previous"}}>Previous</button>
    <button {{action "next"}}>Next</button>
  </footer>
</div>
