<h1 class="modal-header">{{this.modalTitle}}</h1>
{{
  component
  currentStep

  simulation=this.simulation

  newProjectData=this.newProjectData
  processPropertyValues=this.processPropertyValues

  validation=validation.newProject1

  next="next"
  back="back"
  cancel="cancel"
  persistProject="persistProject"
}}
  {{!-- setTitle="setTitle" --}}
