<h1 class="modal-header">{{this.modalTitle}}</h1>
{{
  component
  currentStep
  next="next"
  back="back"
  cancel="cancel"
  finish="finish"
  newProjectData=this.newProjectData
  setTitle="setTitle"
  validation=validation.newProject1
  simulation=this.simulation
}}
