<p class="range-value single-range-value" id="rank-slider-display">{{this.value}}</p>
<input class='range-input' id="rank-slider" value={{this.value}} min={{this.min}} max={{this.max}} step="1" type="range">
